@model  Assignment2Project.ViewModel.ReportViewModel
 @{                                                   
     ViewData["Title"]="Details" ;

}

<h1>Report Details</h1>

<div>    
    <hr />

    <div class="container align-content-center">
        <div class="row">
            
            <div class="col-md-4">
                <h6>
                    @Html.DisplayNameFor(report => report.Report.RType)
                </h6>
                <p>
                    @Html.DisplayFor(model => model.Report.RType)
                </p>
                <h6>
                    @Html.DisplayNameFor(model => model.Report.ReportDTS)
                </h6>
                <p>
                    @Html.DisplayFor(report => report.Report.ReportDTS)
                </p>
                <h6>
                    @Html.DisplayNameFor(model => model.Report.CreatedByUserEmail)
                </h6>
                <p>
                    @Html.DisplayFor(report => report.Report.CreatedByUserEmail)
                </p>
                @if (Model.Report.WhoReportedIssue != null)
                {
                    <h6>
                        @Html.DisplayNameFor(model => model.Report.WhoReportedIssue)                      
                    </h6>
                    <p>
                        @Html.DisplayFor(report => report.Report.WhoReportedIssue)
                    </p>
                }
                    <h6>
                        @Html.DisplayNameFor(model => model.Report.Asset.AssetName)
                    </h6>
                    <p>
                        @Html.DisplayFor(report => report.Report.Asset.AssetName)
                    </p>
                    <h6>
                        @Html.DisplayNameFor(model => model.Report.IssueDetails)
                    </h6>
                    <p>
                        @Html.DisplayFor(report => report.Report.IssueDetails)
                    </p>
                    <h6>
                        @Html.DisplayNameFor(model => model.Report.Status)
                    </h6>
                    <p>
                        @Html.DisplayFor(report => report.Report.Status)
                    </p>

                </div>
          
        </div>
        <div class="row">
            <div class="col-md-4">
                <h1 class="text-center mb-3">Update Log</h1>
                @{
                    foreach (var update in Model.Report.UpdateResolve)
                    {
                                <div class="card mb-3">
                                    <h6 class="text-end alert-heading me-3">Date/Time: [@update.UpdateResolveDTS]</h6>
                                    <h6 class="text-end alert-heading me-3"> Updated By: @update.StaffMemberActioning</h6>
                                    <p class="mx-5">@update.Text</p>
                                    @*<a class="btn btn-dark" type="submit" asp-action="DeleteLog" asp-route-id="@update.UpdateResolveId">Delete</a>*@
                                </div>
                    }
                }
            </div>
        </div>


    </div>



    
</div>  
<div>
    <a class="btn btn-dark" asp-action="Index">Back to List</a>
</div>
