@model Assignment2Project.ViewModel.ReportViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Update Report</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Report.ReportId" />
            <div class="form-group">
                <label asp-for="Report.RType" class="control-label"></label>
                <select asp-for="Report.RType" class="form-control" value="Rtype">
                    <option asp-for="RType" value="1">General</option>
                    <option asp-for="RType" value="2">Technical</option>
                </select>
                <span asp-validation-for="Report.RType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Report.IssueDetails" class="control-label"></label>
                <textarea asp-for="Report.IssueDetails" placeholder="Add issue..." class="form-control"></textarea>
                <span asp-validation-for="Report.IssueDetails" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Report.Asset" class="control-label"></label>
                @Html.DropDownListFor(m => m.Report.AssetId, Model.AssetList, "Select a Asset", new { @class = "form-select" })
                <span asp-validation-for="Report.AssetId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="Report.ReportDTS" class="form-control" />
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="Report.CreatedByUserEmail" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Report.Status" class="control-label"></label>
                <select asp-for="Report.Status" class="form-control" value="Status">
                    <option asp-for="Report.Status" value="1">Open</option>
                    <option asp-for="Report.Status" value="2">Updated</option>
                    <option asp-for="Report.Status" value="3">Closed</option>
                </select>
                <span asp-validation-for="Report.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Update and Resolve</label>
                <input name="id" value="@Model.Report.ReportId" type="hidden" />
                <textarea class="form-control" type="text" placeholder="Add update..." name="updateResolveIssue"></textarea>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-dark mt-3" />
            </div>
        </form>
        <div>
            <a class="btn btn-dark mt-3" asp-action="Index">Back to List</a>
        </div>
    </div>
    <div class="col-md-6">
        <h1 class="text-center mb-3">Update Log</h1>
       @{ 
           foreach(var update in Model.Report.UpdateResolve)
            {
               <div class="card mb-3">
                   <h6 class="text-end alert-heading me-3">Date/Time: [@update.UpdateResolveDTS]</h6>
                   <h6 class="text-end alert-heading me-3"> Updated By: @update.StaffMemberActioning</h6>
                   <p class="mx-5">@update.Text</p>
                   @*<a class="btn btn-dark" type="submit" asp-action="DeleteLog" asp-route-id="@update.UpdateResolveId">Delete</a>*@
               </div>
            }
       }

        
    </div>
   
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
