@model IEnumerable<Assignment2Project.Models.ReportModel>


@{
    ViewData["Title"] = "Index";
}

<h1>User Reports</h1>

<p>
    <a class="btn btn-dark mt-3" asp-action="Create">Create New</a>
</p>
<div class="contrainer-fuild mt-3">
    <div class="row">
        <h2>Search for an existing report</h2>
        <form asp-action="Index">
            <div class="col-6">
                <div class="input-group">
                    <input type="text" name="SearchBy" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="btn-search">
                    <button class="btn btn-dark" type="submit" id="button-search"><i class="bi bi-search"></i></button>
                </div>
            </div>
        </form>
    </div>
</div>
    <table class="table mt-3">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.RType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IssueDetails)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Asset.AssetName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReportDTS)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedByUserEmail)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.RType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IssueDetails)
                    </td>
                    <th>
                        @Html.DisplayFor(modelItem => item.Asset.AssetName)
                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReportDTS)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedByUserEmail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        <a class="btn btn-dark" asp-action="Edit" asp-route-id="@item.ReportId">Edit</a>
                        <a class="btn btn-dark" asp-action="Details" asp-route-id="@item.ReportId">Details</a>
                        <a class="btn btn-dark" asp-action="Delete" asp-route-id="@item.ReportId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
